<footer class="footer-pro">
    <p class="design">Designed and developed by Amar © 2022</p>
<div>
    <h1>Social</h1>
        <div>
            <a href="https://www.instagram.com/2blue_b/">My Instagram</a>
            <a href="">Our Discord</a>
        </div>
        <a href="/login"  style="text-decoration: none; display: block;"  > <i class="fa-solid fa-arrow-right-to-bracket"></i> log in </a>
</div>
</footer>