
    <header>
        <div>
      <a style=" display: flex; flex-direction: row ; text-decoration: none;" href="/Electric">
        <img src="/img/eLectrice.png" alt="">
           <h1 style="color: rgb(230, 230, 3);">Electric Store</h1>
      </a >
        </div>
        <div>
          
          <h1 style="color: rgb(138, 204, 39);">
             <i class="fa-solid fa-gamepad"></i>
             <a href="/Electric"  style=" color: rgb(138, 204, 39); text-decoration: none; " >
             All Games
            </a> 
            </h1>
          <h1 style="margin-right: 30px; color: blue;"><i  class="fa-solid fa-square-share-nodes"></i>  <a href="/social"  style=" color: blue; text-decoration: none; " >Social</a>  </h1>
          <h1 style="margin-right: 30px; color: rgb(230, 230, 3);"><i  class="fa-solid fa-plus"></i> <a href="/kghakgdhghagjokghdkgaolhghdjlkhjurygwuw45897y5467ty093/add"  style=" color: rgb(230, 230, 3); text-decoration: none; " >add</a> </h1>
     
         
        </div>
     </header>
 