<!DOCTYPE html>

<html lang="en">
  <%- include("./partials/haed.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
<section class="log-in">
  <h1 style="display: none;" id="username1"><%= username %>  </h1>
    <h1>log in</h1>

            <h4 id="error-logIn" > </h4>
            <form id="form"  class="form">
    <h4 id="h4-error">   </h4>
    <h4 style="display: none;" id="h4-user">   </h4>

              <div>
                <label for="username">username</label>
                <input id="username" autocomplete="off" name="username" type="text" />
              </div>
              <div>
                <label for="password">password</label> <input id="password"
                minlength="6" maxlength="20" type="password" autocomplete="off" name="password" >
              </div>
              <a href="/register">register</a>
              <input type="submit" value="Submit"  id="submit">
            </form>
     
</section>
    <%- include("./partials/footer.ejs") %>
    <script>
      const form = document.querySelector("#form");
      const h4error = document.querySelector("#h4-error");
      const h4user = document.querySelector("#h4-user");

      form.addEventListener("submit", loginfun);

      async function loginfun(event) {
        event.preventDefault();

        const username = document.getElementById("username").value
        const password = document.getElementById("password").value
        
        
        fetch("/api/login", {
       
          method: "POST",
          headers: { 
            "authorization": "beraer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYyZGVhMGRmNmNlZWZlYjBhNzZhNjJhNCIsInVzZXJuYW1lIjoiYWRtaW4iLCJpYXQiOjE2NTg5OTMxODh9.oL_1dvOxgGkrd20t9WwiS-bSm9I-dr9xzxOppz4YKnc",
            "content-Type": " application/json"
         },
          body: JSON.stringify({
            username,
            password
          }),
        }).then((response)=> response.json())
  .then((data) => {

   if (data.success == "success") {
    window.location.href =  data.mylink

   } else if (data.success == "not success"){
        h4error.innerHTML = data.message
   }
   })
      
}
  

    </script>
  </body>
</html>
